<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="uploadFiles" value="uploadFiles"/>
    <add key="downloadFiles" value="downloadFiles"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="LibraryService"
        address="net.tcp://localhost:6000/Service"
        binding="netTcpBinding"
        contract="Common.ILibrary" />
    </client>
  </system.serviceModel>
</configuration>